html, 
body, 
main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.box {
    display: flex;
    height: 100%;
}

.sidebar {
    height: 100%;
    width: 15%;
}

.sidebar ul {
    padding-inline-start: 0px;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 1.5em;
}

.nav-item {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
  }

.nav-item a {
    text-decoration: none;
    color: black;
}

.content {
   flex-grow: 1;
   height: 100%;
   display: flex;
   flex-wrap: wrap;
   width: 85%;
}

.inner-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    border-bottom: 2px solid black;
    margin-right: 3em;
}

.img-div {
    height: 150px;
}

.name {
    height: 175px;
    text-align: right;
}

#name {
    font-size: 50px;
    margin-bottom: 0;
    margin-top: .5em;
}

#title {
    font-size: 25px;
    margin-top: 0;
}

.profile {
    height: 125px;
    padding: .75em;
}

picture {
    display: block;
}
.picture {
    width: 100%;
    margin-right: 3em;
    display: block;
}

.picture img {
    width: 100%;
    padding-top: 1em;
    display: block;
}

.featured-work {
    padding-left: 1em;
    height: 50px;
}

.featured-work p {
    margin-block-start: 5px;
    margin-block-end: 5px;
}

#featured {
    font-size: 30px;
}

.img-gallery {
    width: 100%;
    display: flex;
    margin-right: 3em;
    justify-content: space-between;
    overflow: auto;
}

.img-gallery a {
    color: black;
}
.img-gallery img {
    height: 100px;
    width: 150px;
}

#first-pic {
    margin-inline-start: 0px;
    -webkit-margin-start: 0px;
}

#last-pic {
    margin-inline-end: 0px;
    -webkit-margin-end: 0px;
}